<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="API_Server_Protocol" value="http"/>
		<!--51.68.172.121-->
		<add key="API_Server_IP" value="10.10.0.200"/>
		<add key="API_Server_Port" value="5000"/>
		<add key="API_Server_CheckUserRoute" value="check-user"/>
		<add key="API_Server_UploadRoute" value="upload"/>
		<add key="API_Server_DownloadRoute" value="download"/>

		<!--178.218.144.55-->
		<add key="Chat_Server" value="10.10.0.200"/>
		<add key="Chat_Server_Port" value="7890"/>

		<add key="Voice_Server" value="127.0.0.1"/>
		<add key="Voice_Server_Port" value="7990"/>
	</appSettings>
</configuration>